[Unit]
Description=KIF Janitorial Application

[Service]
Type=simple
WorkingDirectory=/opt/kif
ExecStart=/usr/local/bin/uv run kif.py
Restart=always

[Install]
WantedBy=multi-user.target
